<!-- 사이드바 -->
<link href="/css/side-bar.css" rel="stylesheet">

<div id="sidebar-wrapper">
    <div class="container-fluid my-3">
        <div class="btn-group m-1">
            <a role="button" id="kakao-login" class="me-2" sec:authorize="!isAuthenticated()" th:href="@{/oauth2/authorization/kakao}">
                <img alt="Kakao Login" src="/images/kakao_login_medium.png" >
            </a>
            <a role="button" id="kakao-logout" class="me-2" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>

        </div>
    </div>
    <div class="container-fluid my-3">
        <form class="" role="search" th:action="@{/hangouts}" th:method="get">
            <h4 class="text-white m-1">Search</h4>
            <div class="form-group m-1">
                <select name="searchType" class="form-select" aria-label="Default select example">
                    <option th:each="searchType : ${searchTypes}"
                            th:value="${searchType.name}"
                            th:text="${searchType.description}"
                            th:selected="${param.searchType != null && param.searchType.toString() == searchType.name}">
                    </option>
                </select>
            </div>
            <div class="form-group d-flex m-1">
                <input class="form-control me-2" name="searchValue" type="search" placeholder="keyword" aria-label="Search" th:value="${param.searchValue}">
                <button type="submit" class="btn btn-danger" >Search</button>
            </div>
        </form>
    </div>
    <div class="container-fluid d-flex overflow-hidden justify-content-center ">
        <a role="button" type="button" class="flex-item btn btn-warning m-1 w-100" sec:authorize="isAuthenticated()" th:href="@{/hangouts/form}" >모임만들기</a>
    </div>

    <!--
    <div class="container-fluid">
        <h4 class="text-white m-1">Hashtag</h4>
        <ul th:each="hashtag : ${hashtagList}" class="m-1 sidebar-nav">
            <li><a th:if="${hashtag != null}" th:href="'/hangout/hashtag/'+${hashtag}" th:text="'#'+${hashtag}"></a></li>
        </ul>
    </div>
-->
    <div class="container-fluid my-3">
        <h4 class="text-white m-1">Region</h4></div>
    <ul class="sidebar-nav list-unstyled mx-1" th:each="regionList : ${regionListMap.entrySet()}">
        <li class="text-white" th:if="${regionList.getKey() != null}"th:text="${regionList.getKey()}"></li>
        <ul class="list-unstyled mx-3">
            <li class="text-white" th:if="${region != ''}" th:each="region : ${regionList.getValue()}">
                <a th:text="${region}" th:href="'/hangouts?searchType=REGION&searchValue='+ ${region}"></a>
            </li>
        </ul>
    </ul>


    <!--        <ul class="sidebar-nav">

                <li class="sidebar-brand">
                    <a href="#" class="text-white">Category</a>
                </li>

                <li><a href="#">메뉴 5</a></li>
            </ul>-->
    <div class="container-fluid fixed-bottom" style="font-size: 0.6em; color: lightgray;">
        <p>Copyright © 2023. Mohang ALL RIGHTS RESERVED.
            <br>대표: 성노빈, 손해솔 | 고객센터: 010-9606-1196
        </p>

    </div>
</div>
<!-- /사이드바 -->