<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Spring Boot WebSocket Chat Application</title>
    <link rel="stylesheet" th:href="@{/css/main.css?sd}" />
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<input type="hidden" id="hangoutId" th:value="${hangout.getId()}">
<input type="hidden"

<div id="nickname-page">
    <div class="nickname-page-container">
        <h1 class="title">Type your nickname</h1>
        <form id="nicknameForm" name="nicknameForm">
            <div class="form-group">
                <input type="text" id="nickname" th:value="${sender}" autocomplete="off" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <button type="submit" class="accent nickname-submit">Start Chatting</button>
            </div>
        </form>
    </div>
</div>

<div id="chat-page" class="hidden">
    <div class="chat-container">
        <div class="chat-header">
            <h2 th:text="${hangout.getTitle()}"></h2>
        </div>

        <div class="connecting">
            Connecting...
        </div>

        <ul id="messageArea">
            <li th:if="${chatList}" th:each="chat : ${chatList}" class="chat-message">
                <i style="background-color: rgb(100, 100, 100);" th:text="${chat.sender()}"></i>
                <span class="sender" th:text="${chat.sender()}"></span>
                <span class="send_time" th:text="'  '+${#temporals.format(chat.createdAt(),'yyyy-MM-dd HH:mm')}"></span>
                <p th:text="${chat.content()}"></p>
            </li>
        </ul>

        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js}"></script>
<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript">
    function resizeToMinimum(w,h){
        w=w>window.outerWidth?w:window.outerWidth;
        h=h>window.outerHeight?h:window.outerHeight;
        window.resizeTo(w, h);
    };
    window.addEventListener('resize', function(){resizeToMinimum(500,500)}, false)
</script>
</body>
</html>