<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Hangout!!!</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css}"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<div class="container m-4" >

    <div class="col-md-10 m-4" >
        <input type="hidden" id="hangoutId" th:value="${hangout.id}">
        <div class="m-2">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" readonly th:value="${hangout.title}">
        </div>
        <div class="m-2">
            <label for="createdBy">작성자</label>
            <input type="text" class="form-control" id="createdBy" readonly th:value="${hangout.nickname()}">
        </div>
        <div class="m-2">
            <label for="createdAt">작성일</label>
            <input type="text" class="form-control" id="createdAt" readonly th:value="${#temporals.format(hangout.createdAt,'yyyy-MM-dd HH:mm')}">
        </div>
        <div class="m-2">
            <label for="content">내용</label>
            <textarea class="form-control" id="content" readonly th:text="${hangout.content}" rows="10"></textarea>
        </div>
        <div class="m-2">
            <label for="meetDate">모임일시</label>
            <input type="text" class="form-control" id="meetDate" readonly th:value="${#temporals.format(hangout.meetDate,'yyyy-MM-dd HH:mm')}">
            <!--TODO meetDate 누락됨-->
        </div>
        <div class="m-2">
            <label for="place">장소명</label>
            <input type="text" class="form-control" id="place" name="place" readonly th:value="${hangout.place}">
        </div>
        <div class="m-2">
            <label for="address">주소</label>
            <input type="text" class="form-control" id="address" name="address" readonly th:value="${hangout.address}">
        </div>
        <br>
        <a class="btn btn-outline-dark" th:href="@{/hangouts}">목록보기</a>
        <a class="btn btn-outline-dark"
           th:if="${hangout.createdBy() == userId}"
           th:href="'/hangouts/'+${hangoutId} + '/form'" onclick="return updateCheck()">수정하기</a>
        <button type="button" class="btn btn-outline-dark"
                th:if="${hangout.createdBy() == userId}" id="delete-btn" onclick="return deleteCheck()">삭제하기</button>
        <button type="button" class="btn btn-outline-dark" id="parti" onclick="parti();">참여하기</button>
        <a class="btn btn-outline-info hidden" id="chat-page" th:href="@{'/hangout/'+${hangout.id}+'/chatting'}" th:onclick="window.open(this.href, '_blank', 'width=850, height=1000'); return false;" ref="noreferrer noopener">채팅하기</a>
        <br><br>
        <div id="map" style="width:100%;height:350px;"></div>
    </div>

</div>
</body>
<script type="text/javascript" th:src="@{https://cdn.jsdelivr.net/jquery/latest/jquery.min.js}"></script>

<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8d98f73a557881a5b34939183b8131b8&libraries=services"></script>

<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();
    var address = document.getElementById('address').value;
    var place = document.getElementById('place').value;
    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(address, function(result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0;">'+ place +'</div>'
            });
            infowindow.open(map, marker);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });
</script>
<script>
    var hangoutId = $('#hangoutId').val()
    var createdBy = '[[${createdBy}]]';
    var userId = '[[${userId}]]';

    function parti() {
        var chat_page = document.getElementById('chat-page');
        var parti_btn = document.getElementById('parti');

        /* 로그인 안한 회원 */
        if(!'[[${userId}]]'){
            window.location.href="/oauth2/authorization/kakao";
        }
        /* 로그인한 회원 */
        if('[[${userId}]]') {
            var con = confirm('모임에 참여할건가요?');

            if(con) {
                var data = {
                    hangoutId: hangoutId,
                    userId: '[[${userId}]]',
                    writerOrNot: 0
                };
                $.ajax({
                    type: 'POST',
                        url: '/hangwith/participate',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(data)
                }).done(function() {
                    parti_btn.classList.add('hidden')
                    chat_page.classList.remove('hidden');
                    var con = confirm('채팅방에도 들러보세요!');
                    if(con) {
                        chat_page.click();
                    }
                }).fail(function(error) {
                    alert(JSON.stringify(error))
                });
            }
        }

    }
    function deleteCheck() {
        if(createdBy.value !== userId.value) {
            alert('글쓴이가 아니면 삭제할 수 없습니다.');
            return false;
        }
        var con = confirm(hangoutId + ' : 정말 삭제할 건가요? 8ㅅ8');
        if(con) {
            window.location.href="/hangouts/" + hangoutId + "/form";
        } else{
            alert('삭제를 취소하셨습니다.');
            return false;
        }
    }
    function updateCheck() {
        if(createdBy.value !== userId.value) {
            alert('글쓴이가 아니면 수정할 수 없습니다.');
            return false;
        }
        var con = confirm(hangoutId + ' : 정말 수정할 건가요? ㅇㅅㅇ');
        if(con) {
            var data = {hangoutId : hangoutId}
            $.ajax({
                type: 'GET',
                url: hangoutId+'/form',
                data: data,
                success: function(response) {
                }
            }).done(function() {
            }).fail(function(error) {
                alert(JSON.stringify(error))
            });
        } else{
            alert('수정을 취소하셨습니다.');
            return false;
        }


    }

</script>
</html>