<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Hangout!!!</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css}"
          rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
</head>
<body>

<div id="page-wrapper">
    <div th:insert="~{/layouts/sidebar.html}"></div>
    <div class="page-content-wrapper row" >
        <div class="col-md-8 m-4" >
            <input type="hidden" id="hangoutId" th:value="${hangout.id}">
            <div class="m-2">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" readonly th:value="${hangout.title}">
            </div>
            <div class="m-2">
                <label for="createdBy">작성자</label>
                <input type="text" class="form-control" id="createdBy" readonly th:value="${hangout.nickname()}">
            </div>
            <div class="m-2">
                <label for="createdAt">작성일</label>
                <input type="text" class="form-control" id="createdAt" readonly th:value="${#temporals.format(hangout.createdAt,'yyyy-MM-dd HH:mm')}">
            </div>
            <div class="m-2">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" readonly th:text="${hangout.content}" rows="10"></textarea>
            </div>
            <div class="m-2">
                <label for="meetDate">모임일시</label>
                <input type="text" class="form-control" id="meetDate" readonly th:value="${#temporals.format(hangout.meetDate,'yyyy-MM-dd HH:mm')}">
            </div>
            <div class="m-2">
                <label for="place">장소명</label>
                <input type="text" class="form-control" id="place" name="place" readonly th:value="${hangout.place}">
            </div>
            <div class="m-2">
                <label for="address">주소</label>
                <input type="text" class="form-control" id="address" name="address" readonly th:value="${hangout.address}">
            </div>
            <br>
            <a class="btn btn-outline-dark" th:href="@{/hangouts}">목록보기</a>
            <a class="btn btn-outline-dark"
               th:if="${hangout.createdBy() == userId}"
               th:href="'/hangouts/'+${hangoutId} + '/form'" onclick="return updateCheck()">수정하기</a>
            <button type="button" class="btn btn-outline-dark"
                    th:if="${hangout.createdBy() == userId}" id="delete-btn" onclick="return deleteCheck()">삭제하기</button>
            <button th:if="${!isJoined}" type="button" class="btn btn-outline-dark" id="parti" onclick="parti();">참여하기</button>
            <a  th:if="${isJoined}" class="btn btn-outline-info" id="chat-page" th:href="@{'/hangout/'+${hangout.id}+'/chatting'}" th:onclick="window.open(this.href, '_blank', 'width=850, height=1000'); return false;" ref="noreferrer noopener">채팅하기</a>
            <br><br>
            <div id="map" style="width:100%;height:350px;"></div>
        </div>

        <div class="col-md-2 m-4" >
            <div class="m-2">
                <label for="joiners">참여자</label>
                <ul id="joiners" class="joiners" th:if="${#lists.size(joiners)>0}" th:each="user: ${joiners}">
                    <li><a th:href="@{'/users/'+${user[0]}}" th:text="${user[1]}"></a></li>
                </ul>
                <ul id="" class="joiners" th:if="${joiners.isEmpty()}">
                    <li><a th:href="@{'/users/'+${hangout.userId()}}" th:text="${hangout.nickname()}"></a></li>
                </ul>

            </div>
        </div>

    </div>
</div>
</body>
<script type="text/javascript" th:src="@{https://cdn.jsdelivr.net/jquery/latest/jquery.min.js}"></script>

<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8d98f73a557881a5b34939183b8131b8&libraries=services"></script>

<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();
    var address = document.getElementById('address').value;
    var place = document.getElementById('place').value;
    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(address, function(result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0;">'+ place +'</div>'
            });
            infowindow.open(map, marker);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });
</script>
<script>
    var hangoutId = $('#hangoutId').val()
    var createdBy = '[[${createdBy}]]';
    var userId = '[[${userId}]]';

    function parti() {
        var chat_page = document.getElementById('chat-page');
        var parti_btn = document.getElementById('parti');

        /* 로그인 안한 회원 */
        if(!'[[${userId}]]'){
            window.location.href="/oauth2/authorization/kakao";
        }
        /* 로그인한 회원 */
        if('[[${userId}]]') {
            var con = confirm('모임에 참여할건가요?');

            if(con) {
                var data = {
                    hangoutId: hangoutId,
                    userId: '[[${userId}]]',
                    writerOrNot: 0
                };
                $.ajax({
                    type: 'POST',
                        url: '/hangwith/participate',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(data)
                }).done(function() {
                    var con = confirm('채팅방에도 들러보세요!');
                    if(con) {
                        window.open('/hangout/'+ hangoutId +'/chatting', '_blank', 'width=850, height=1000');
                        location.replace("/hangouts/" + hangoutId);
                    }
                }).fail(function(error) {
                    alert(JSON.stringify(error))
                });
            }
        }

    }
    function deleteCheck() {
        if(createdBy.value !== userId.value) {
            alert('글쓴이가 아니면 삭제할 수 없습니다.');
            return false;
        }
        var con = confirm(hangoutId + ' : 정말 삭제할 건가요? 8ㅅ8');
        if(con) {
            $.ajax({
                method : 'DELETE',
                url : '/hangouts/' + hangoutId + '/delete',
                success: function(data){
                    alert("삭제 성공.");
                    location.replace("/");
                },
            });
        } else{
            alert('삭제를 취소하셨습니다.');
            return false;
        }
    }
    function updateCheck() {
        if(createdBy.value !== userId.value) {
            alert('글쓴이가 아니면 수정할 수 없습니다.');
            return false;
        }
        var con = confirm(hangoutId + ' : 정말 수정할 건가요? ㅇㅅㅇ');
        if(con) {
            return true;
        } else{
            alert('수정을 취소하셨습니다.');
            return false;
        }


    }
</script>
<!--<script>
    var joinService = (function() {
        function join() {
            $.ajax({
                type : 'POST',
                url : '/users/'+hangoutId + '/join',
                data : JSON.stringify({userId : userId}),
                contentType : "application/json; charset=utf-8",
            });
        }
        function getList(callback, joinersUL) {
            $.getJSON(
                '/users/' + hangoutId + '/joiners.json',
                function(data) {
                    if(callback) {
                        console.log(data);
                        callback(data.list);
                    }
                }
            ).done(
                function(data) {
                    for (var i = 0, len = data.list.length || 0 ; i<len; i++) {
                        str += '<li class="joiner"><a th:href="@{' + "'/users/'+${user.user_id}}" + '"' +
                            'th:text="${user.nickname}">딸기</a></li>';
                        console.log(str);
                    }
                    joinersUL.html(str);
                }
            );
        }
        function remove() {
            $.ajax({
                type : 'DELETE',
                url : '/users/' + hangoutId + '/joiners',
                dataType : 'text',
                data: {userId : userId}
            });
        }

        return {
            join : join,
            getList : getList,
            remove : remove
        };
    })();



    $(document).ready(function() {

        var bnoValue = '<c:out value="${board.bno}"/>';
        var joinersUL = $(".joiners");

        var pageNum = 1; // reply pagenation
        var replyPageFooter = $('.panel-footer');

        var modal = $('.modal');
        var modalInputReply = modal.find('input[name="reply"]');
        var modalInputReplyer = modal.find('input[name="replyer"]');
        var modalInputReplyDate = modal.find('input[name="replyDate"]');
        var modalModifyBtn = $('#modalModifyBtn');
        var modalRemoveBtn = $('#modalRemoveBtn');
        var modalRegisterBtn = $('#modalRegisterBtn');
        var modalCloseBtn = $('#modalCloseBtn');

        showList(1);


        function showList(page) {
            joinService.getList(function(replyCount, list) {
                if(page == -1) {
                    pageNum = Math.ceil(replyCount/10.0);
                    showList(pageNum);
                    return;
                }
                var str="";
                if(list==null || list.length ==0) {
                    replyUL.html("");
                    return;
                }

                showReplyPage(replyCount); //추가됨
            }); //end function
        }//end showList

        $('#addReplyBtn').on("click", function(e){
            modal.find('input').val('');
            modalInputReplyDate.closest('div').hide();
            modal.find('button[id != "modalCloseBtn"]').hide();
            modalRegisterBtn.show();
            $('.modal').modal('show');
        });



        $('.chat').on('click', 'li', function(e) {
            var rno = $(this).data('rno');
            replyService.get(rno, function(reply){
                modalInputReply.val(reply.reply);
                modalInputReplyer.val(reply.replyer);
                modalInputReplyDate.val(replyService.displayTime(reply.replyDate)).attr("readonly", "readonly");

                modal.data("rno", reply.rno);
                modal.find('button[id != "modalCloseBtn"]').hide();
                modalModifyBtn.show();
                modalRemoveBtn.show();

                $('.modal').modal('show');
            });
        });

        modalRegisterBtn.on("click", function(e) {
            var reply = {
                reply: modalInputReply.val(),
                replyer: modalInputReplyer.val(),
                bno: bnoValue
            };
            replyService.add(reply, function(result) {
                alert(result);
                modal.find('input').val('');
                modal.modal('hide');
                showList(-1);
            });
        });


        modalModifyBtn.on("click", function(e){
            var reply = {rno: modal.data("rno"), reply: modalInputReply.val(), replyer: modalInputReplyer.val()};
            replyService.update(reply, function(result) {
                alert(result);
                modal.modal("hide");
                showList(pageNum);
            });
        });

        modalRemoveBtn.on("click", function(e){
            var rno = modal.data("rno");
            replyService.remove(rno, function(result) {
                alert(result);
                modal.modal("hide");
                showList(pageNum);
            });
        });
        modalCloseBtn.on("click", function(e){
            modal.modal("hide");
        });

        var operForm = $("#operForm");

        $("button[data-oper='modify']").on("click", function(e) {
            operForm.attr("action", "/board/modify").submit();
        });

        $("button[data-oper='list']").on("click", function(e) {

            operForm.find("#bno").remove();
            operForm.attr("action", "/board/list").submit();
        });

        $('button[data-oper="recommend"]').on('click', function(e) {
            recommend(bnoValue
                , function(result){
                    alert("추천하셨습니다.");
                    $('#recommendCount').html(result);
                }, function(er) {
                    console.log("진짜로 잘 모르겠다구요,....");
                }
            );
        });
    });

</script>-->
</html>